{% extends "::base.html.twig" %}

{% block title "Git Browser" %}

{% block stylesheets %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block javascripts %}
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
{% endblock %}

{% block content_header '' %}

{% block content %}
    <h1 class="title">Git Browser</h1>
{% endblock %}
